<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vclasslogin">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

        <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view_schedule_activity"/>
        <activity android:name=".TeacherView"/>
        <activity android:name=".registerTeacherActivity"/>
        <activity android:name=".manageTeacherActivity"/>
        <activity android:name=".viewTeacherDetailsActivity"/>
        <activity android:name=".editTeacherActivity"/>
        <activity android:name=".ListTeacherActivity"/>
        <activity android:name=".registerStudentActivity"/>
        <activity android:name=".viewStudentDetailsActivity"/>
        <activity android:name=".editStudentActivity"/>
        <activity android:name=".ListStudentActivity"/>
        <activity android:name=".registerCourseActivity"/>
        <activity android:name=".viewCourseDetailsActivity"/>
        <activity android:name=".editCourseActivity"/>
        <activity android:name=".ListCourseActivity"/>

        <activity android:name=".StudentView" />
        <activity android:name=".AdminView" >
        </activity>
        <activity android:name=".HomeActivity" />

        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".timeTableEditActivity" />

        <activity android:name=".timeTableMainActivity" >
        </activity>
    </application>

</manifest>